In [1]:
import pandas as pd

In [2]:
#load dataset
df = pd.read_csv("dirty_cafe_sales.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [4]:
# Check for duplicate rows
df.duplicated().sum()

0

In [5]:
#df = df.dropna(subset=['Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Transaction Date'])

In [6]:
# Fill missing Payment Method and Location with 'Unknown'
#df['Payment Method'] = df['Payment Method'].fillna('Unknown')
#df['Location'] = df['Location'].fillna('Unknown')

In [7]:
# Check for missing values
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [8]:
 df = df.dropna()

In [9]:
# Check for missing values
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4550 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    4550 non-null   object
 1   Item              4550 non-null   object
 2   Quantity          4550 non-null   object
 3   Price Per Unit    4550 non-null   object
 4   Total Spent       4550 non-null   object
 5   Payment Method    4550 non-null   object
 6   Location          4550 non-null   object
 7   Transaction Date  4550 non-null   object
dtypes: object(8)
memory usage: 319.9+ KB

In [11]:
#Convert 'Date' column to datetime
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').fillna(0).astype(int)
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce').astype(float)
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce').astype(float)

In [12]:
#Check column data types
df.dtypes

Transaction ID              object
Item                        object
Quantity                     int32
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [13]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit      168
Total Spent         155
Payment Method        0
Location              0
Transaction Date    128
dtype: int64

In [14]:
# Save cleaned DataFrame to CSV
df.to_csv("cafe_sales_cleaned.csv", index=False)